<h1 align="center">Willkommen bei ClickGuesser</h1>
<br />
<br />
<p>Wählen Sie die gewünschte Anzahl an Runden aus!</p>
<br />
<form method="post" action="">
    <input type="radio" name="runden" value="1" /> 1
    <br />
    <input type="radio" name="runden" value="5" /> 5
    <br />
    <input type="radio" name="runden" value="10" /> 10
    <br />
    <input type="radio" name="runden" value="15" /> 15
    <br />
    <input type="radio" name="runden" value="20" /> 20
    <br />
    <input type="submit" value="Start" />
</form>

